 /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 5px;
      border-radius: 10px;
      background: black;
        
    background: -webkit-linear-gradient(left, black , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black , white); /* Standard syntax (must be last) */
      
    }
    
    /* Add a gray background color and some padding to the footer */   
footer{
  height:20%;
  padding: 10px;
  background-color: black;
   background: -webkit-linear-gradient(left, black , white); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, white); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, white); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black , white); /* Standard syntax (must be last) */
}
/*Changing color*/
h1{
  text-shadow: 2px 2px 4px #000000;
   -webkit-animation: mymove 20s infinite; /* Chrome, Safari, Opera */
    animation: mymove 20s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {color: red;}
    25% {color: blue;}
  100%{color:white;}
}

/* Standard syntax */
@keyframes mymove {
     0% {color: red;}
    50% {color: blue;}
  100%{color:white;}
}


.section {
    height: 800px;
  margin: 0px;
  padding: 50px;

}


a {
    margin: 0 10px 0 10px;
    text-decoration: none;
  
    color: orange;
   text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
#portfolioNavbar{
  color: black;
  font-family: monospace;
  font-size: 20px;
  text-shadow: 1px 1px 2px yellow, 0 0 25px orange, 0 0 5px black;
  /*Auto change color*/
 
   -webkit-animation: mymove 50s infinite; /* Chrome, Safari, Opera */
    animation: mymove 50s infinite;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    0% {color: red;}
    25% {color: blue;}
  90%{color:white;}
}

/* Standard syntax */
@keyframes mymove {
     0% {color: red;}
    50% {color: blue;}
  90%{color:white;}

}

html {
    height: 100%;
}
body {
  font: 15px Lato, sans-serif;
   line-height: 1.8;
      color: black;
    margin: 10px;
    padding: 5px;
    height: 100%;
 width:100%;

}
#about{
  background-color: lightgrey;
}
#portfolio{
   background-color: darkblue;
}
#contact{
   background-color: darkred;
}
#welcomeImg{
  height:550px;
  width: 1250px;
  border: solid black 2px;
  border-radius: 50px;
}
#dateTime{
  color: white;
}
#toTopArrow{
  font-size:24px;
 
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}
  #toTopArrow:hover{ top: -10px;}
 


.carousel .item {
  height: 614px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 600px;
}

@-webkit-keyframes swing
{
    15%
    {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
    30%
    {
        -webkit-transform: translateX(-200px);
       transform: translateX(-200px);
    } 
    50%
    {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    65%
    {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    80%
    {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
    100%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
@keyframes swing
{
    15%
    {
        -webkit-transform: translateX(800px);
        transform: translateX(800px);
    }
    30%
    {
        -webkit-transform: translateX(-300px);
        transform: translateX(-300px);
    }
    50%
    {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
    }
    65%
    {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }
    80%
    {
        -webkit-transform: translateX(200px);
        transform: translateX(200px);
    }
    100%
    {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
}
#footerButton:hover
{
   transition:all 0.3s ease;
        -webkit-animation: swing 2s ease;
        animation: swing 2s ease;
        -webkit-animation-iteration-count: 1;
        animation-iteration-count: 1;
}
